<li id="{{this._id}}"
    class="{{this.headerClasses}}"
    tabindex="{{this._tabIndex}}"
    role="tab"
    aria-posinset="{{this._posinset}}"
    aria-setsize="{{this._setsize}}"
    aria-controls="ui5-tc-contentItem-{{this._posinset}}"
    aria-selected="{{this.effectiveSelected}}"
    ?aria-disabled="{{this.effectiveDisabled}}"
    ?disabled="{{this.effectiveDisabled}}"
    aria-labelledby="{{this.ariaLabelledBy}}"
>

    <div class="custom-in-strip {{specialClass}}">
        {{this.text}}
    </div>

</li>

