<ui5-li-custom
        id="{{this._id}}"
        class="{{this.overflowClasses}}"
        type="{{this.overflowState}}"
        ?selected="{{this.effectiveSelected}}"
        ?disabled="{{this.effectiveDisabled}}"
>
    <div class="ui5-tab-overflow-itemContent">

        <div class="custom-in-overflow" tabindex="0">
            {{this.text}}
        </div>

    </div>
</ui5-li-custom>
